@font-face {
    font-family: 'BoschSans';
    src: url('../fonts/BoschSans-Regular.woff2') format('woff2'),
        url('../fonts/') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BoschSans';
    src: url('../fonts/BoschSans-Light.woff2') format('woff2'),
        url('../fonts/BoschSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BoschSans';
    src: url('../fonts/BoschSans-Bold.woff2') format('woff2'),
        url('../fonts/BoschSans-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}