.about {
    padding: 72px 0 121px;
    background-color: $blue;

    @include maxw992 {
        padding: 55px 0 65px;
    }

    @include maxw767 {
        padding: 45px 0 50px;
    }

    @include maxw576 {
        padding: 38px 0 44px;
    }

    &__title {
        margin-bottom: 60px;
        color: white;
        max-width: 700px;
        @include block-title;

        @include maxw1205 {
            margin-bottom: 30px;
        }

        @include maxw992 {
            margin-bottom: 20px;
        }

        @include maxw767 {
            margin-bottom: 12px;
        }
    }

    &__inner {
        justify-content: space-between;

        @include maxw992 {
            flex-direction: column;
            align-items: center;
        }
    }

    &__img {
        width: 484px;
        height: 369px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        @include maxw1205 {
            width: 100%;
            height: 320px;
            background-size: contain;
        }

        @include maxw992 {
            height: 280px;
        }

        @include maxw767 {
            height: 240px;
        }
    }

    &__advantages {
        max-width: 595px;
        width: 100%;
        color: white;
    }

    &__advantages-item {
        justify-content: space-between;

        &+& {
            margin-top: 21px;
        }
    }

    &__advantages-icon {
        margin-right: 23px;
        width: 62px;
        height: 62px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        
        @include maxw767 {
            margin-right: 10px;
            max-width: 50px;
            width: 100%;
            height: 50px;
        }

        @include maxw576 {
            max-width: 38px;
            height: 38px;
        }
    }

    &__advantages-box {
        max-width: 510px;
        width: 100%;
    }

    &__advantages-title {
        margin-bottom: 3px;
        font-size: 24px;
        font-weight: 700;
        line-height: 28px;
        text-transform: uppercase;

        @include maxw767 {
            font-size: 20px;
            line-height: 24px;
        }

        @include maxw576 {
            font-size: 18px;
            line-height: 22px;
        }
    }

    &__advantages-text {
        @include maxw767 {
            font-size: 16px;
        }

        @include maxw576 {
            font-size: 14px;
        }
    }
}