.hero {
    height: calc(100vh - 62px);
    background-image: url(../../images/hero-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &__container{
        position: relative;
        height: 100%;
    }

    &__info{
        position: absolute;
        bottom: 65%;
        padding: 23px 16px 17px 27px;
        max-width: 549px;
        width: 100%;
        background: linear-gradient(90.1deg, #153B65 0.62%, #215388 99.82%), $blue;
        color: white;
        @include block-title;

        @include maxw767 {
            max-width: 464px;
        }

        @include maxw576 {
            max-width: 290px;
        }
    }
}