.products {

    background-color: $blue;

    &__title {
        @include block-title;
        margin-bottom: 10px;
        text-align: center;
        color: white;
    }

    &__inner {
        justify-content: space-between;
    }

    &__icon {
        width: 134px;
        height: 134px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    &__col-wrapper {
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 550px;
        width: 100%;
    }

    &__product-card {
        margin-bottom: 30px;
    }
}