.products {
    padding: 60px 0 50px;
    background-color: $blue;

    &__title {
        @include block-title;
        margin-bottom: 10px;
        text-align: center;
        color: white;
    }

    &__inner {
        justify-content: space-between;

        @include maxw1205 {
            justify-content: center;
        }

        @include maxw576 {
            flex-wrap: wrap;
        }
    }

    &__icon {
        margin: 0 auto;
        width: 134px;
        height: 134px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    &__col {
        &+& {
            margin-left: 10px;
        }

        @include maxw1205 {
            max-width: 350px;
        }
    }

    &__col-wrapper {
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 550px;
        width: 100%;

        @include maxw1205 {
            justify-content: center;
        }
    }

    &__product-card {
        margin-bottom: 30px;
    }
}