.promo {

    &__head {
        height: 496px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    &__container {
        position: relative;
        height: 100%;
    }

    &__box {
        position: absolute;
        bottom: 55%;
        padding: 29px 23px 20px;
        max-width: 450px;
        width: 100%;
        background-color: $blue;
        color: white;

        @include maxw576 {
            padding: 21px 17px;
            max-width: 227px;
        }
    }

    &__title {
        @include block-title;
        margin-bottom: 4px;
    }

    &__text {
        font-size: 18px;
        line-height: 22px;

        @include maxw576 {
            font-size: 14px;
            line-height: 18px;
        }
    }

    &__main {
        padding: 40px 0 94px;
        background-color: $blue;
    }

    &__inner {
        justify-content: space-between;

        @include maxw1205 {
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    &__info {
        padding: 0 38px;
        max-width: 589px;
        width: 100%;
        background-color: white;

        @include maxw1205 {
            max-width: 750px;
            margin-bottom: 25px;
        }
    }

    &__descr {
        padding: 38px 0;
        font-size: 18px;
        line-height: 22px;

        &+& {
            border-top: 1px solid #C4C6C4;
        }

        @include maxw767 {
            padding: 25px 0;
            padding: 25px 0;
            font-size: 16px;
        }
    }

    &__product-wrapper {
        @include maxw767 {
            flex-wrap: wrap;
        }

        @include maxw576 {
            
            justify-content: space-around;
        }
    }

    &__product {
        &+& {
            margin-left: 25px;

            @include maxw767 {
                margin-left: 15px;
            }

            @include maxw576 {
                margin-left: 0;
                margin-top: 10px;
            }
        }
    }
}